@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
.about_us_page_wrapper {
  padding-left: 6.25rem;
  padding-right: 6.25rem;

  padding-bottom: 0rem !important;
  font-family: "Open Sans", sans-serif;

  /* height: 100px; */
}
.heading {
  height: 180px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.partners_img {
  width: 31.25rem;
  height: 24rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.partners_img img {
  object-fit: cover;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .partners_img {
    width: 90%;
    height: 17rem;
    margin: 0 auto;
  }
  .partners_img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }
}

.video {
  /* height: 200px; */
  /* background-color: #7f7f7f; */
  /* background-image: ("/assets/images/video-placeholder.png"); */
}
.video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.founders_message {
  width: 100%;
  display: flex;
}
.message {
  width: 50%;
  /* max-height: 25rem; */
  padding-right: 4rem;
}
.message_heading {
  font-size: 1.5rem;
  color: #707070;
}
.message_description {
  font-size: 0.875rem;
  color: #707070;
  margin-top: 2rem;
}
.message_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person {
  width: 100%;
  display: flex;
  height: 25rem;
}
.person_image {
  width: 50%;
}
.person_image img {
  height: 100%;
  /* height: 100%; */
  object-fit: cover;
  overflow: hidden;
}

.person_details {
  display: flex;
  color: #707070;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5rem;
}
.name {
  font-size: 2.25rem;
}
.designation {
  font-size: 1.5rem;
  font-weight: lighter;
}
.text {
  font-size: 0.875rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
}
.meet_the_team_avatars {
  width: 42rem;
  margin: auto;
  /* background-color: #707070; */
}
.avtars_container {
  height: 10rem;
  width: 10rem;
}
.avtars_container img {
  width: 100%;
}
.avatar_name {
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  color: #707070;
}

.about_us_form {
  height: 31.25rem;
  width: 100%;
  background-color: #ddedfa;
  display: flex;
  padding: 0 2rem 0 2rem;
}
.about_us_form_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_us_form_inputs {
  width: 50%;
  /* background-color: red; */
  display: flex;
}
.input_container {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.label {
  color: #707070;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.namee {
  width: 18.625rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #707070;
}
.namee:focus {
  outline: none; /* Removes the border when the input is clicked */
  box-shadow: inset 0 0 2px 2px rgb(236, 236, 236);
}

.email {
  width: 18.625rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #707070;
}
.email:focus {
  outline: none; /* Removes the border when the input is clicked */
  box-shadow: inset 0 0 2px 2px rgb(236, 236, 236);
}
.subject {
  width: 18.625rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #707070;
}
.subject:focus {
  outline: none; /* Removes the border when the input is clicked */
  box-shadow: inset 0 0 2px 2px rgb(236, 236, 236);
}
.form_message {
  width: 18.625rem;
  height: 5rem;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #707070;
}
.form_message:focus {
  outline: none; /* Removes the border when the input is clicked */
  box-shadow: inset 0 0 2px 2px rgb(236, 236, 236);
}
.payment_button {
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: #ffffff;
  border-radius: 6px;
  width: 7rem;
  height: 2rem;
  margin-top: 2rem;
  font-size: 11px;
  /* font-weight: 600; */
  color: #707070;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-shadow: 2px 2px 2px 2px rgb(221, 221, 221);
}

.payment_button:hover {
  background-color: #fceeee;
}

.payment_button:active {
  /* color: blue; */
  background-color: #f8d7d7;
}
.display {
  display: none;
}
.hide {
}

@media only screen and (max-width: 1300px) {
  .about_us_page_wrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 6.25rem;
  }
}

@media only screen and (max-width: 1230px) {
  .person {
    width: 100%;
    display: flex;
    height: 20rem;
  }
  .person_image {
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .right {
    justify-content: flex-end;
  }
  .person_image img {
    height: 80%;
    /* height: 100%; */
    object-fit: cover;
    overflow: hidden;
  }

  .person_details {
    display: flex;
    color: #707070;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0rem;
  }
}

@media only screen and (max-width: 1000px) {
  .heading {
    height: 125px;
  }
}

@media only screen and (max-width: 900px) {
  .event_details_page_wrapper {
    /* padding-left: 15%;
    padding-right: 15%; */
    padding-bottom: 6.25rem;
  }

  .founders_message {
    width: 100%;
    flex-direction: column;
  }
  .message {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .message_description {
    text-align: justify;
  }
  .message_img {
    width: 100%;
  }
  .hide {
    display: none;
  }
  .display {
    display: inherit;
  }
  .person_image {
    width: 60%;
  }
  .left {
    padding-right: 3rem !important;
  }
  .right {
    padding-left: 3rem !important;
  }
  .person_image img {
    padding: 0rem;
    height: auto;
    width: 100%;
    padding-right: 0rem !important;
  }
  .person_details {
    padding: 0rem;
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .heading {
    font-size: 40px;
  }
  .meet_the_team_avatars {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .avatar_row {
    flex-direction: column;
    margin-top: 0rem !important;
  }
  .avtars_container {
    margin-top: 0rem;
  }
  /* .person{
    flex-direction: column;
  }
  .person_details{
    width: 100%;
  }
  .person_image{
    width:100%
  } */
}

@media only screen and (max-width: 750px) {
  .event_details_page_wrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 6.25rem;
  }
  .about_us_form_img {
    display: none;
  }
  .about_us_form_inputs {
    width: 100%;
  }
  .input_container input {
    width: 13.625rem;
  }
  .input_container textarea {
    width: 13.625rem;
  }
  .avtars_container {
    width: 118px;
  }
  .about_us_form {
    height: 28rem;
  }
}

@media only screen and (max-width: 600px) {
  .founders {
    margin-left: -2.25rem;
    margin-right: -2.25rem;
  }
  .person {
    height: 15rem;
    justify-content: space-around;
  }
  .name {
    font-size: 1.5rem;
  }
  .designation {
    font-size: 0.75rem;
  }
  .text {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  .left {
    padding-right: 1rem !important;
  }
  .right {
    padding-left: 1rem !important;
  }
  .left_text {
    margin-left: 1rem;
  }
  .right_text {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .person {
    height: 12rem;
  }
  .video {
    height: 200px;
  }
}
