.events_page_wrapper {
  padding-left: 50px;
  padding-right: 50px;

  /* height: 100px; */
}

@media only screen and (max-width: 1000px) {
  .events_page_wrapper {
    padding-left: 15px;
    padding-right: 15px;

    /* height: 100px; */
  }
}

.heading {
  height: 180px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #7f7f7f;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming_past {
  height: 40px;
  margin: 0px auto 0px auto;
  display: flex;
  width: 248px;
  justify-content: space-around;
  align-items: center;
  /* font-weight: 200; */
}

.upcoming {
  flex: 1;
  border-right: 1px solid #d8d8d8;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #f6c1c1; */
  /* border-style: solid;
  border-color: #d8d8d8; */
  /* border:  1px 5px 10px 20px solid black; */
}
.past {
  flex: 1;
  /* background-color: blue; */
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
