/* :root {
  --card-width: 400px;
  --outer-padding: 100px; 
} */

.events_cards_container {
  /* margin-top: 65px; */
  margin: 65px auto 0px auto;
  width: fit-content;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(3, 425px);
  /* column-gap: calc((100vw - 100px - 1200px) / 2); */
  column-gap: 45px;
  row-gap: 45px;
}
.Upcoming {
  animation-name: appear;
}

@keyframes appear {
  from {
    transform: translate(-10px, -30px);
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1400px) {
  .events_cards_container {
    grid-template-columns: repeat(2, 400px);
    column-gap: 50px;
    row-gap: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .events_cards_container {
    grid-template-columns: repeat(1, 425px);
  }
}

@media only screen and (max-width: 500px) {
  .events_cards_container {
    grid-template-columns: repeat(1, 320px);
    column-gap: 45px;
    row-gap: 45px;
  }
}
