@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
@import "~swiper/swiper.min.css";
@import "~swiper/components/navigation/navigation.min.css";
@import "~swiper/components/pagination/pagination.min.css";
@import "~swiper/components/scrollbar/scrollbar.min.css";
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
