@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
.event_details_page_wrapper {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  /* padding-bottom: 10.25rem; */
  font-family: "Open Sans", sans-serif;

  /* height: 100px; */
}
.heading {
  height: 180px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.carousel {
  width: fit-content;
  margin: 0 auto;
  z-index: 1;
  /* margin-bottom: -100px; */
  position: relative;
}

.description {
  transform: translateY(-100px);
  z-index: 10;
  width: 100%;
  height: fit-content;
  background-color: #ecdaf8;
  border-radius: 0.75rem;
}
.desc_container {
  max-width: 1000px;
  height: fit-content;

  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 70px;
  /* background-color: rebeccapurple; */
  /* transform: translateY(170px); */
}

.desc_date {
  font-size: 1.25rem;
  /* font-weight: 300; */
  color: #707070;
}
.desc_heading {
  font-size: 1.5rem;
  color: #707070;
}
.desc_description {
  font-size: 0.875rem;
  color: #7f7f7f;
  margin-top: 22px;
}

.impressions {
  /* transform: translateY(-100px); */
  /* margin-top: 6.25rem; */
  position: relative;
  height: 600px;
  width: 100%;
  /* background-color: #707070; */
  overflow-y: hidden;
  margin-bottom: 10000px;
  background-image: url("/assets/images/Subtraction 9.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1300px) {
  .event_details_page_wrapper {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 6.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .heading {
    height: 125px;
  }
}

@media only screen and (max-width: 900px) {
  .event_details_page_wrapper {
    /* padding-left: 15%;
    padding-right: 15%; */
    padding-bottom: 6.25rem;
  }
}

@media only screen and (max-width: 750px) {
  .event_details_page_wrapper {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 6.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .event_details_page_wrapper {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 6.25rem;
  }
}

/* --------FOR CAROUSEL----------- */

@media only screen and (max-width: 1100px) {
  .desc_container {
    width: 660px;
  }
}

@media only screen and (max-width: 800px) {
  .desc_container {
    width: 320px;
  }
}
